.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: #0f0f0f;
  z-index: 9999;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  display: grid;
  justify-content: flex-start;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding: 1.5rem 0;
}

.menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  .socialMedia{
    display: flex;
    padding: 0 15px;
    gap: 20px;
    align-self: flex-end;
    align-items: center;
    width: 200px;
    height: 70px;
     a{
        border: solid 1px gray;
        display: flex;
        padding: 3px;
        height: max-content;
        &:nth-child(1){
            &:hover{
                --socialBg :rgb(0,122,182);
                box-shadow: 0px 0px 1px 6px var(--socialBg);
                border: solid 2px white;
                color: white;
                animation: socialMedia 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            }
        }
        &:nth-child(2){
            &:hover{
                --socialBg : rgb(54,111,179);
                box-shadow: 0px 0px 1px 6px var(--socialBg);
                border: solid 2px white;
                color: white;
                animation: socialMedia 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            }
        }
    }
  }
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 2vw;
  li {
    font-size: clamp(2rem, 6vw, 4rem);
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }
    a{
        color: var(--brown);
        text-decoration: none;
        &.active{
            text-decoration: line-through;
        }
    }
  }
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}


 @keyframes socialMedia {
    50%{
        transform: scale(1.3);
        background-color: var(--socialBg);
    }
    100%{
        transform: scale(1);
        background-color: var(--socialBg);
    }
}