@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Shadows+Into+Light&display=swap');
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--layout_padding);
    height: var(--navHeight);
    z-index: 99999;
    h2{
       font-family: "Shadows Into Light", cursive;
    }
    .links{
        display: flex;
        align-items: center;
        gap:20px;
        margin-right: calc(var(--layout_padding) + (1.5rem * 3) + 12px);
        a{
            text-decoration: none;
            color: inherit;
            z-index: 999;
            &.active{
              text-decoration:line-through var(--bgLight) 3px;
              color: var(--brown);
            }
            &:hover:not(&.active){
              text-decoration:line-through var(--bgLight) 3px;
            }
        }
        button{
            position: fixed;
            right: calc(var(--layout_padding) + (1.5rem * 2));
            border: none;
            cursor: pointer;
            transform: translate(0, 0);
            transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
            background-color: var(--brown);
            display: flex;
            padding: 4px 6px;
            color: white;
            font-size: 1.4em;
            border-radius: 5px;
            z-index: 9999;
            &:hover{
              color: gray;
              border: solid 1px gray;
            }
            &:active{
              transform: scale(0.99);
            }
            &.up{
                animation: menu-reverse 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
            }
            &.down{
                animation: menu-forward 0.9s cubic-bezier(0.77, 0, 0.175, 1) forwards;
            }
            @media (max-width : 720px){
              transform: translateX(calc(var(--layout_padding) + 12px));
              &.up{ animation: none;}
              &.down{ animation: none;}
            }
        }
    }
    @media (max-width : 720px){
      .links{
        a{
          display: none;
        }
      }
    }
}

@keyframes menu-forward {
  0% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(calc(var(--layout_padding) + 12px), 30px); 
  }

  100% {
    transform: translate(calc(var(--layout_padding) + 12px), 0px);
  }

}


@keyframes menu-reverse {
  0% {
    transform: translate(40px, 40px);
  }
  50% {
    transform: translate(0, 40px); 
  }
  100% {
    transform: translate(0, 0);
  }
}