.portfolio{
    display: grid;
    gap: 20px;
    padding: 6rem var(--layout_padding);
    h2{
        position: sticky;
        top: 20px;
        background-image: linear-gradient(180deg, green, brown);
        font-weight: bolder;
        background-clip: text;
        color: transparent;
        -moz-background-clip: text;
        z-index: 999;
    }
    .portfolio_grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        gap: 2.5rem;
        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }
    }
    &::after{
      content: "";
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
      background: rgb(255, 255, 255, 0.1); 
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);  
    }
}

.portfolio-card {
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s ease;
  border: solid 2px var(--bgLight);
  &:hover .portfolio-media img{
    object-fit: contain;
  }
}
.portfolio-media {
  height: 220px;
  background: linear-gradient(135deg, #222, #333);
 img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center center;
 }
}

.portfolio-content {
  padding: 2rem;

  h3 {
    margin-bottom: 0.8rem;
  }

  p {
    opacity: 0.75;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
}

.tech {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 1.5rem;
    span{
      color: rgb(128, 128, 128, 0.5);
      font-weight: bold;
    }
  li {
    font-size: 0.8em;
    padding: 5px 8px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 999px;
  }
}

.actions {
  display: flex;
  gap: 1.2rem;

  a {
    text-decoration: none;
    font-size: 0.9em;
    opacity: 0.8;
    color: var(--brown);
    &:hover {
      opacity: 1;
    }
  }
}